/* @import url("../vendor/font-awesome-5.11.2-all.css"); */
@font-face {
    font-family: "Inconsolata";
    src: url("../fonts/Inconsolata-Regular.ttf") format("truetype");
}

body {
    background-color: #363636;
    color: #fff;
    font-family: "Inconsolata", monospace;
    min-width: 200px;
    /* margin: 0; */
    /* padding: 0; */
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 19px 0;
}

ul a,
ul a:visited {
    text-decoration: none;
    padding: 7px;
    background-color: #666;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;

    /* TODO make these buttons full-width */
    /* This isn't working */
    /* width: 100%; */
}

h1,
h1 a,
h1 a:visited {
    color: #41ff00;
    font-size: 1.27rem;
    text-decoration: none;
}

#codesOutput table th {
    text-align: left;
}

#codesOutput table {
    border-collapse: collapse;
}

#codesOutput table td {
    border: 1px solid #eee;
    padding: 7px;
}
